<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Adding to the Hero List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="http://localhost:8080/dodaj">
    <table>
        <tr>
            <td>Enter your username </td>
            <td><input name="username"></td>
        </tr>
        <tr>
            <td>Enter your hero class</td>
            <td> <input name="heroClass"> </td>
        </tr>
        <tr>
            <td>Enter your hero name</td>
            <td><input name="heroName"></td>
        </tr>
        <tr>
            <td>     Enter your weapon    </td>
            <td><input name="weapon"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"></td>
    </table>
</form>
</body>
</html>
